<div class="d-flex flex-column justify-content-center align-items-center" [ngClass]="{'border-danger' : user.role == 'staff', 'border-info' : user.role == 'admin', 'border-warning' : user.role == 'manager'}">
  <img src={{user.profilePhotoUrl}} style="width: 60px; border-radius: 50px;"><p><strong>{{user.name}} {{user.surname}}</strong> {{user.age}} {{user.address?.city}} </p>
  <div class="d-flex justify-content-around">
  <button class="btn-danger" (click)="removeUser(user)">Rimuovi</button>
  <button class="btn-warning" (click)="showUser(user)">Dettagli</button>
</div>
</div>
