<section class="d-flex">
<div class="d-flex flex-column justify-content-center align-items-center m-3" *ngFor="let beer of beers">
  <p>{{beer.id}}</p>
  <p>{{beer.name}}</p>
  <p>{{beer.type}}</p>
  <p>{{beer.price | currency: 'EUR'}}</p>
</div>
</section>

<section class="d-flex">
<div class="d-flex flex-column justify-content-center align-items-center m-3">
  <input class="mt-1" type="text" [(ngModel)]="id">
  <p>{{beerID?.id}}</p>
  <p>{{beerID?.name}}</p>
  <p>{{beerID?.type}}</p>
  <p>{{beerID?.price | currency: 'EUR'}}</p>
  <button>Cerca</button>
</div>

<div class="d-flex flex-column justify-content-center align-items-center m-3">
  <label for="beer"> Nome birra </label>
  <select name="BeersName" id="beer">
    <option></option>
    <option *ngFor="let beer of beers"value={{beer.name}}>{{beer.name}}</option>
  </select>

  <label class="mt-2" for="type">Grandezza</label>
  <select name="typeOfBeer" id="type">
    <option></option>
      <option value= "small">Small</option>
      <option value= "medium">Medium</option>
  </select>

</div>
</section>
